body {
    background-color: #D4E09B;
}

p {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
}

button {
    background-color: #CBDFBD;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    background-color: #F6F4D2;
}

.title {
    font-family: "Stack Sans Headline", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 40px;
    line-height: 20px;
}

.scene {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 900px;
    height: auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-by-side {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin: 20px 100px;
}

#scene-image {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 10px;
}

.menu {
    height: 400px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-content {
    align-items: center;
    justify-content: center;
}

.menu img {
    width: 125px;
    border-radius: 10px;
    margin: 0px 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.menu p {
    line-height: 5px;
    text-align: center;
}

#happiness, #time {
    font-size: 28px;
}

#welcome-text {
    margin: 20px;
    text-align: center;
}

#start {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#decision-menu {
    display: none;
}

#decision-text {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
    margin: 40px 20px;
    text-align: center;
}

.buttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin: 20px;
    justify-content: space-between;
}

.buttons button {
    margin: 0px 20px;
    width: 45%;
    align-items: center;
}

.footer {
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}