body {
    background-color: #D4E09B;
    background-image: url("assets/background-tile.jpeg");
    background-repeat: repeat;
    background-size: 150px;
}

p {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
}

button {
    background-color: #CBDFBD;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    background-color: #D4E09B;
    transform: scale(0.95);
}

.title {
    font-family: "Stack Sans Headline", sans-serif;
    color: #000000;   
    text-align: center;
    font-size: 30px;
}

.scene {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 900px;
    height: auto;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#side-by-side {
    display: none !important;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin: 20px 100px;
}

#home-image {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 500px;
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
}

#scene-image {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 10px;
}

#menu {
    display: none;
    height: 400px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 4px solid #CBDFBD;*/
    padding: 0px 10px;
    border-radius: 10px;
}

.menu-content {
    align-items: center;
    justify-content: center;
}

#menu img {
    width: 100px;
    border-radius: 10px;
    margin: 0px 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#menu p {
    line-height: 5px;
    text-align: center;
}

#happiness, #time {
    font-size: 28px;
}

#welcome-text {
    margin: 20px;
    text-align: center;
}

#start, #restart {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#restart {
    display: none;
}

#decision-menu {
    display: none;
}

#decision-text {
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    color: #000000;
    margin: 40px 20px;
    text-align: center;
    white-space: pre;
}

.buttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin: 20px;
    justify-content: space-between;
}

.buttons button {
    margin: 0px 20px;
    width: 45%;
    align-items: center;
    vertical-align: middle;
    height: 70px;
}

#audio, #click {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 20px;
}